* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5863F8, #7B50D0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.error-icon img {
    width: 150px;
    margin-bottom: 2rem;
}

.contact-info {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.home-button {
    background-color: #3C74E8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #2E5BBB;
}
